# GitHub Actions workflow for Lightkurve's continuous integration.
#
# This file configures nine different jobs:
# 1) pytest on Linux, Python 3.9, with -m memtest (i.e. stress memory)
# 2) pytest on Linux, Python 3.9, with --remote-data enabled (i.e. get data from MAST).
# 3) pytest on Linux, Python 3.10.
# 4) pytest on Linux, Python 3.11.
# 5) pytest on Linux, Python 3.12.
# 6) pytest on Linux, Python 3.13.
# 7) pytest on Windows, Python 3.9.
# 8) pytest on OSX, Python 3.9.
# 9) flake8 syntax check.

name: Lightkurve-tests

on:
  # We always want to run tests on main
  push:
    branches:
      - windows-ci
  # And we'll also run tests on pull requests
  pull_request:

jobs:

  # Run unit tests on Windows
  pytest-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        name: [3.9]
        python-version: [3.9]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        mkdir poetry
        python -m venv poetry
        .\poetry\Scripts\activate.ps1
        python -m pip install --upgrade pip
        python -m pip install poetry
        poetry install --with dev
    - name: Test with pytest
      run: |
        .\poetry\Scripts\activate.ps1
        poetry run pytest
